<!DOCTYPE html>
<html lang="en" class="[scrollbar-gutter:stable]">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png" />
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <.live_title default="Ide" suffix=" · Phoenix Framework">
      {assigns[:page_title]}
    </.live_title>
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <script defer phx-track-static type="module" src={~p"/assets/app.js"}>
    </script>
    <script
      src="https://sdk.feedback.one/v0/core.min.js"
      data-project-id="019e3269-74e1-7a61-8e62-27959f5d5442"
      defer
    >
    </script>
  </head>
  <body
    class="bg-white text-zinc-900"
    data-ide-theme={Atom.to_string(Ide.Settings.current().editor_theme)}
  >
    {@inner_content}
  </body>
</html>
